extends ../base
block title
	| Index page
block main
	include ../modal
	nav(canvas="header_top" class="")
		//.mnu_btn
		//	label(id="nav-button-label")
		//		#nav-lines
		//			i.nav-line
		//			i.nav-line
		//			i.nav-line
		//			i.nav-line
		.container
			.row
				.header_top.col-lg-12
					.header_logo
						a(href="/" class="logo").
							Лого
					nav.header_nav
						ul
							li.active
								a(href="#") Наши работы
							li
								a(href="#") Товары
							li
								a(href="#") Как мы работаем
							li
								a(href="#") Отзывы
							li
								a(href="#") Контакты
	header(class="header")
		div(canvas='container')
			.headerWrap
				//.header_modal
				//	a(data-modal="modal-1" data-info="Обратный звонок" href="#" class="modal active") Обратный звонок
				//.header_modal
				//	a(data-modal="modal-3" data-info="Обратный звонок" href="#" class="modal active") Мобильное меню
			.container
				.row
					.header_title
						h1
							span Рулонные
							| шторы под заказ
						p Бесплатный выезд дизайнера на объект в Киеве и Харькове
						.intermediate
							.intermediate_wrap
								form
									.intermediate_item.col-lg-3.col-md-4.col-sm-4.col-lg-offset-1
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_input(name='name', type='text', placeholder='Имя')
									.intermediate_item.col-lg-3.col-md-4.col-sm-4
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
									input(type='hidden', name='form_name', value='')
									input(type='hidden', name='form_type', value='normal')

									input.col-lg-3(type='submit', value='Вызвать дизайнера')
					//.header_bot_txt
					//	p Более
					//		span  400
					//		|   довольных клиентов за
					//		span  8 лет
					//		|  успешной работы!
	// Секция  our_advantages
	section.main_content
		section#our_advantages.our_advantages
			.container
				.row
					h2.title Мы покажем плюсы новых технологий
					span.underline
					p Собрались покупать шторы, но не знаете какую выбрать? Мы покажем плюсы новых технологий, а классику выбрать вы всегда успеете!
					.clearfix
						.our_advantages_items-left.col-lg-6
							h3 Обычная штора
							.our_advantages_item
								.our_advantages_description
									h4 Стирка
									p Обязательна. Требует много сил, необходимо снять и повесить, аккуратно выложить валуны и складки.
								.our_advantages_img-wash
									i
							.our_advantages_item
								.our_advantages_description
									h4 Глажка
									p После каждой стирки, полотно каждой шторы обязательно необходимо прогладить.
								.our_advantages_img-iron
									i
							.our_advantages_item
								.our_advantages_description
									h4 Дети  и коты
									p В процессе развлечений детей или домашних животных штора может быть повреждена и требовать ремонта или полной замены.
								.our_advantages_img-child
									i
							.our_advantages_item
								.our_advantages_description
									h4 Сроки производства
									p От 1й до 3х недель.
								.our_advantages_img-time
									i
							.our_advantages_item
								.our_advantages_description
									h4 Цена
									p Достаточно дорого. В зависимости от выбранной ткани и количества слоев цена шторы может варьироваться как вверх, так и в низ.
								.our_advantages_img-price
									i

						.our_advantages_items-right.col-lg-6
							h3 Рулонная штора
								.our_advantages_item
									.our_advantages_img-wash
										i
									.our_advantages_description
										h4 Нет надобности в стирке
										p Ткань пропитана специальным раствором, который не позволяет шторе пачкаться.
								.our_advantages_item
									.our_advantages_img-iron
										i
									.our_advantages_description
										h4 Глажка
										p После каждой стирки, полотно каждой шторы обязательно необходимо прогладить.
								.our_advantages_item
									.our_advantages_img-child
										i
									.our_advantages_description
										h4 Дети  и коты
										p Тканевые роллеты устанавливаются на оконную конструкцию, очерчивая его размер. Таким образом достать до шторы не может ни ребенок, ни кот.
								.our_advantages_item
									.our_advantages_img-time
										i
									.our_advantages_description
										h4 Сроки производства
										p 3 дня.
								.our_advantages_item
									.our_advantages_img-time2
										i
									.our_advantages_description
										h4 Цена
										p Даже если вы выберете самую дорогую ткань, цена рулонной шторы будет в 2-3 раза меньше обычной шторы.




		// секция наши работы слайдер
		section.slider_ourWorks
			.container
				.row
					h2.title Наши работы
					span.underline
					#one.owl-carousel.owl-theme.slider_ourWorks_slides
						img(src=require("../../img/slider_slide_1.jpg"))
						img(src=require("../../img/slider_slide_2.jpg"))
						img(src=require("../../img/slider_slide_3.jpg"))
						img(src=require("../../img/slider_slide_4.jpg"))
						img(src=require("../../img/slider_slide_1.jpg"))
						img(src=require("../../img/slider_slide_2.jpg"))
						img(src=require("../../img/slider_slide_3.jpg"))
						img(src=require("../../img/slider_slide_4.jpg"))
			.customNextBtn.customBtn
			.customPrevBtn.customBtn


		// секция видео
		section.video
		//секция товарные группы
		section.tovar_groups
			.container
				.row
					h2.title Товарные группы
					span.underline
					.col-lg-12.tovar_groups_item.tovar_groups_item-left
						.shadow.clearfix
							img(src=require("../../img/tovar-groups_1.jpg"))
							.tovar_groups_description
								h4 Римские шторы
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

					.col-lg-12.tovar_groups_item.tovar_groups_item-right
						.shadow.clearfix
							img(src=require("../../img/tovar-groups_2.jpg"))
							.tovar_groups_description
								h4 Рулонные шторы
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

					.col-lg-12.tovar_groups_item.tovar_groups_item-left
						.shadow.clearfix
							img(src=require("../../img/tovar-groups_3.jpg"))
							.tovar_groups_description
								h4 День-ночь
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

					.col-lg-12.tovar_groups_item.tovar_groups_item-right
						.shadow.clearfix
							img(src=require("../../img/tovar-groups_4.jpg"))
							.tovar_groups_description
								h4 Шторы-плиссе
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						





		//cекция как мы работаем
		section.how_we_work
			.container
				.row
					h2.title Как мы работаем?
					span.underline
					.how_we_work_icons.clearfix
						.col-lg-3.item_usluga
							img(src=require("../../img/sprite/send_ico.png"))
							p Вы звоните или оставляете заявку на сайте.
						.points_wrap.points_wrap_send
							span.point
							span.point
							span.point

						.col-lg-3.item_usluga
							img(src=require("../../img/sprite/consult_ico.png"))
							p Мы предварительно консультируем вас, наш дизайнер бесплатно выезжает к вам на объект в Киеве или Харькове.
						.points_wrap.points_wrap_consult
							span.point
							span.point
							span.point

						.col-lg-3.item_usluga
							img(src=require("../../img/sprite/settings_ico.png"))
							p Через 3 дня приезжаем и устанавливаем выбранную штору
						.points_wrap.points_wrap_settings
							span.point
							span.point
							span.point

						.col-lg-3.item_usluga
							img(src=require("../../img/sprite/gift_ico.png"))
							p Вы наслаждаетесь обновленным интерьером и восторженными отзывами соседей и друзей.



		//Секция купить рулонную штору,
		section.buy_curtain
			.container
				.row
					h3.buy_curtain_title Хочу купить рулонную штору,<br> когда Ваш дизайнер приедет к нам домой?
					p.buy_curtain_description Отправьте заявку и наш менеджер свяжется с Вами в течении 10 минут и договорится о времени приезда дизайнера.
					.intermediate
						.intermediate_wrap
							form
								.intermediate_item.col-lg-3.col-md-4.col-sm-4.col-lg-offset-1
									.modal_form_input_wrap
										.modal_input_error
											| Заполните поле
											.modal_error_triangle
											.modal_error_chest_img
										i.fa.fa-check
										input.modal_form_input(name='name', type='text', placeholder='Имя')
								.intermediate_item.col-lg-3.col-md-4.col-sm-4
									.modal_form_input_wrap
										.modal_input_error
											| Заполните поле
											.modal_error_triangle
											.modal_error_chest_img
										i.fa.fa-check
										input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
								input(type='hidden', name='form_name', value='')
								input(type='hidden', name='form_type', value='normal')

								input.col-lg-3(type='submit', value='Вызвать дизайнера')

		//Секция отзывы
		section#reviews.reviews
			.container
				.row
					h2.title Отзывы наших клиентов
					span.underline
					#two.owl-carousel.owl-theme
						.item-video(data-merge="1")
							h4.item-video-title Александр Николаевич
							a.owl-video(href="https://www.youtube.com/watch?v=JpxsRwnRwCQ")
						.item-video(data-merge="1")
							h4 Александр Николаевич
							a.owl-video(href="https://www.youtube.com/watch?v=JpxsRwnRwCQ")
			.customNextBtn.customBtn
			.customPrevBtn.customBtn
		section#often_question.often_question
			.container
				.row
					h2.title Часто задаваемые вопросы
					span.underline
					#accordion
						h3 Section 1
						div
							p auris mauris ante,
						h3 Section 2
						div
							p auris mauris ante,



































		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					li
						a(href='#') 1
					li
						a(href='#') Преимущества
					li
						a(href='#') Отзывы
					li
						a(href='tel:73842596168') +7 3842 59 61 68
					li
						a(href='#') Преимущества
					li
						a(href='#') Отзывы
					li
						a(href='#') Примеры кухонь
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')


