extends ../base
block title
	| iShtora
block main
	include ../modal
	nav(canvas="header_top" class="header_top")
		.mnu_btn
			label(id="nav-button-label")
				#nav-lines
					i.nav-line
					i.nav-line
					i.nav-line
					i.nav-line
		.container
			.row
				.header_top.col-lg-12
					.header_logo
						a(href="#header_logo" class="logo")
					nav#navbar.header_nav
						ul.nav.nav-tabs.navbar-nav(role="tablist")
							li
								a(href="#slider_ourWorks") Наши работы
							li
								a(href="#tovarGroups") Товары
							li
								a(href="#how_we_work") Как мы работаем
							li
								a(href="#reviews") Отзывы
							li
								a(href="#howContact") Контакты
					.header_phone
						a(href="tel:0992080655") Позвоните нам +38 099 20 80 655

	div(canvas='container')
		header#header_logo(class="header")
			.headerWrap
				//.header_modal
				//	a(data-modal="modal-1" data-info="Обратный звонок" href="#" class="modal active") Обратный звонок
				//.header_modal
				//	a(data-modal="modal-3" data-info="Обратный звонок" href="#" class="modal active") Мобильное меню
			.container
				.row
					.header_title
						.slider-wrap
							#headerSlider.owl-carousel.owl-theme
								.item
									h1
										span Заказать рулонные шторы в Харькове просто!
									p Оставьте ваше имя и телефон, мы вам перезвоним!
									.intermediate
										.intermediate_wrap
											form
												.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
													.modal_form_input_wrap
														.modal_input_error
															| Заполните поле
															.modal_error_triangle
															.modal_error_chest_img
														i.fa.fa-check
														input.modal_form_input(name='name', type='text', placeholder='Имя')
												.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
													.modal_form_input_wrap
														.modal_input_error
															| Заполните поле
															.modal_error_triangle
															.modal_error_chest_img
														i.fa.fa-check
														input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
												.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
													.modal_form_input_wrap
														input(type='hidden', name='form_name', value='Заказ рулонной шторы')
														input(type='hidden', name='form_type', value='normal')
														input.col-lg-4(type='submit', value='Заказать')
								.item
									h1.share-title С 
										span.share.text-underline 20.07. по 31.08.2017
										span.share  скидка 15% на рулонные шторы!
									p.share-text В акции участвуют ткани: Madagaskar-BO, Air Gold, Liana Gold, Liana Apricot, Bohema Orange, Bohema Blue
									ul.photo-cloth
										li
											img(src=require("../../img/photo-cloth-1.png"))
										li
											img(src=require("../../img/photo-cloth-2.png"))
										li
											img(src=require("../../img/photo-cloth-3.png"))
										li
											img(src=require("../../img/photo-cloth-4.png"))
										li
											img(src=require("../../img/photo-cloth-5.png"))

							.customNextBtn.customBtn
							.customPrevBtn.customBtn
		// Секция  наши преимущества
		section#our_advantages.our__advantages
			.container
				.row
					h2.title 5 аргументов «ЗА» рулонные шторы!
					span.underline
					p Надумали купить штору в Харькове, однако не знаете какую выбрать? Гардины, ламбрекены, тюль, портьеры или тканевые роллеты? Мы покажем вам плюсы рулонных штор, а к классической шторе вернуться вы всегда успеете! Тем более, что они прекрасно соседствуют на окне. Решение за вами, а наш дизайнер поможет сделать его оптимальным и не переплачивать!»
					.clearfix
						.our__advantages-items_left.col-sm-12.col-md-6
							h3 Обычная штора
							.our__advantages-item
								.our__advantages-description
									h4 Стирка
									p Обязательна. Требует много сил, необходимо снять и повесить, аккуратно выложить валуны и складки
								.our__advantages-img-wash
									i
							.our__advantages-item
								.our__advantages-description
									h4 Глажка
									p После каждой стирки, полотно каждой шторы обязательно необходимо прогладить.
								.our__advantages-img-iron
									i
							.our__advantages-item
								.our__advantages-description
									h4 Дети  и коты
									p Шторы обычно шьют с размером от карниза до пола, что дает возможность маленьким деткам и домашним животным в дальнейшем использовать их для игр. В процессе развлечений штора может быть повреждена и требовать ремонта или полной замены.
								.our__advantages-img-child
									i
							.our__advantages-item
								.our__advantages-description
									h4 Сроки производства
									p От 1й до 3х недель
								.our__advantages-img-time
									i
							.our__advantages-item
								.our__advantages-description
									h4 Цена
									p Достаточно дорого! В зависимости от выбранной ткани и количества слоев цена шторы может варьироваться как вверх, так и в низ.
								.our__advantages-img-price
									i

						.our__advantages-items_right.col-sm-12.col-md-6
							h3 Рулонная штора
							.our__advantages-item
								.our__advantages-img-wash
									i
								.our__advantages-description
									h4 Нет надобности в стирке
									p Нет надобности. Ткань пропитана специальным раствором, который не позволяет шторе пачкаться.
							.our__advantages-item
								.our__advantages-img-iron
									i
								.our__advantages-description
									h4 Глажка
									p Нет надобности. Ткани в рулонной шторе находятся в натяжении, всегда идеально ровные.
							.our__advantages-item
								.our__advantages-img-child
									i
								.our__advantages-description
									h4 Дети  и коты
									p Тканевые ролеты устанавливаются на оконную конструкцию вплотную или на проем, очерчивая его размер. Таким образом достать до шторы не может ни ребенок, ни кот.
							.our__advantages-item
								.our__advantages-img-time
									i
								.our__advantages-description
									h4 Сроки производства
									p 3 дня
							.our__advantages-item
								.our__advantages-img-time2
									i
								.our__advantages-description
									h4 Цена
									p Даже если вы выберете самую дорогую ткань, цена рулонной шторы будет в 2-3 раза меньше обычной шторы.






		// секция наши работы слайдер
		section#slider_ourWorks.slider_ourWorks
			.container
				.row
					h2.title Наши работы
					span.underline
					p.description Собрались покупать шторы, но не знаете какую выбрать? Мы покажем плюсы новых технологий, а классику Вы выбрать всегда успеете!
					.slider-wrap
						#one.owl-carousel.owl-theme.slider_ourWorks_slides
							.tovar-groups__item
								div.tovar-groups__photo
									img.tovar-groups__photo-active(src=require("../../img/slider_slide_1.jpg"))
									span.tovar-groups__photo-name Шторы на кухню
									//a.tovar-groups__photo_zoom
										i.fa.fa-search
							.tovar-groups__item
								div.tovar-groups__photo
									img.tovar-groups__photo-active(src=require("../../img/slider_slide_2.jpg"))
									span.tovar-groups__photo-name
									//a.tovar-groups__photo_zoom
										i.fa.fa-search
							.tovar-groups__item
								div.tovar-groups__photo
									img.tovar-groups__photo-active(src=require("../../img/slider_slide_3.jpg"))
									span.tovar-groups__photo-name
									//a.tovar-groups__photo_zoom
										i.fa.fa-search
							.tovar-groups__item
								div.tovar-groups__photo
									img.tovar-groups__photo-active(src=require("../../img/slider_slide_4.jpg"))
									span.tovar-groups__photo-name
									//a.tovar-groups__photo_zoom
										i.fa.fa-search
							.tovar-groups__item
								div.tovar-groups__photo
									img.tovar-groups__photo-active(src=require("../../img/slider_slide_1.jpg"))
									span.tovar-groups__photo-name
									//a.tovar-groups__photo_zoom
										i.fa.fa-search
						.customNextBtn.customBtn
						.customPrevBtn.customBtn
		// секция видео
		section#player-video.player-video
			#player
			script.
				var tag = document.createElement('script');

				tag.src = "https://www.youtube.com/iframe_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

				var player;

				function onYouTubeIframeAPIReady() {
					player = new YT.Player('player', {
						height: '360',
						width: '640',
						videoId: '-aoKriMsjEs',
						events: {
							'onStateChange': onPlayerStateChange
						}
					});
				}
				var done = false;
				function onPlayerStateChange(event) {
					if (event.data == YT.PlayerState.PLAYING && !done) {
					}
					if(event.data == YT.PlayerState.PLAYING){
					}
					if (event.data == YT.PlayerState.PAUSED) {
					}
				}


				function onPlayerReady(event) {
					event.target.stopVideo();
				}
				function stopVideo() {
					player.stopVideo();
				}
			//a.player-video__btn-paly.start-video
				//.player-video__btn-paly_wrap
				//<iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/-aoKriMsjEs" frameborder="0" allowfullscreen></iframe>
		//секция товарные группы
		section#tovarGroups.tovar-groups
			.container
				.row
					h2.title Товарные группы
					span.underline
					p.description Что поможет вам укрыться от палящего солнца, спрятаться от назойливых глаз, украсить комнату, придать ей законченный вид, убрать блики с монитора и телевизора?  Ответ есть - рулонная штора! Ниже о видах таких штор

					.tovar-groups__item
						.col-lg-6.lightgallery
							a(href="../../img/tovar-groups_2.jpg")
								img(src=require("../../img/tovar-groups_2.jpg"))
								.demo-gallery-poster.clearfix
									.fa.fa-search
							//a(href="../../img/tovar-groups_2.jpg")
								img(src=require("../../img/tovar-groups_2.jpg"))

						.col-lg-6.tovar-groups__description.float-left
							h4 Римские шторы
							p Одна из самых востребованных и известных покупателю штор – римская штора. В нашем рейтинге они также стоят на первых позициях по ряду причин:
							ul
								li 1.	Визуально напоминают обычную штору, добавляют мягкость, теплоту интерьеру, наполняют комнату уютом.
								li 2.	Легко поднимаются и опускаются.
								li 3.	Не требуют особого ухода.
								li 4.	Занимают минимум места.
								li 5.	Штора устанавливаются как на проем, так и на окно.
							p Римские шторы в Харькове мы устанавливаем уже много лет. Обращаясь в магазин iShtora, вы выбираете профессионалов, которые любят свою работу и отдаются ей на все 100%. Быстро установим ваши шторы или, если вы проживаете не в Харькове, научим монтировать их самостоятельно.
					.tovar-groups__item.reverse
						.col-lg-6.lightgallery
							a(href="../../img/tovar-groups_3.jpg")
								img(src=require("../../img/tovar-groups_3.jpg"))
								.demo-gallery-poster.clearfix
									.fa.fa-search
							a(href="../../img/DN1.jpg")
								img(src=require("../../img/DN1.jpg"))
							a(href="../../img/DN2.jpg")
								img(src=require("../../img/DN2.jpg"))
							a(href="../../img/DN3.jpg")
								img(src=require("../../img/DN3.jpg"))
							a(href="../../img/DN4.jpg")
								img(src=require("../../img/DN4.jpg"))
							//a(href="../../img/DN5.jpg")
							//	img(src=require("../../img/DN5.jpg"))
							//a(href="../../img/DN6.jpg")
							//	img(src=require("../../img/DN6.jpg"))
							//a(href="../../img/DN7.jpg")
							//	img(src=require("../../img/DN7.jpg"))
							//a(href="../../img/DN8.jpg")
							//	img(src=require("../../img/DN8.jpg"))
							//a(href="../../img/DN9.jpg")
							//	img(src=require("../../img/DN9.jpg"))
							//a(href="../../img/DN10.jpg")
							//	img(src=require("../../img/DN10.jpg"))
							//a(href="../../img/DN11.jpg")
							//	img(src=require("../../img/DN11.jpg"))
							//a(href="../../img/DN12.jpg")
							//	img(src=require("../../img/DN12.jpg"))
						.col-lg-6.tovar-groups__description
							h4 Ролеты День Ночь
							p На сегодняшний день рулонные шторы день ночь находятся на пике популярности. И это не удивительно, ведь это один из самых практичных видов тканевых ролет. Благодаря особому механизму и ткани, состоящей из чередующихся прозрачных и непрозрачных полос, он совмещает в себе функциональные особенности горизонтальных жалюзи (поэтому их еще называют жалюзи день ночь) и ролл штор. Такие ролеты позволяют как полностью открыть или закрыть окно, так и тонко отрегулировать световой поток.
							p В ассортименте компании iShtora представлена широкая цветовая гамма ролет, различные фактуры и рисунки. Такое разнообразие удовлетворит самый изысканный и требовательный вкус.

					.tovar-groups__item
						.col-lg-6.lightgallery
							a(href="../../img/tovar-groups_4.jpg")
								img(src=require("../../img/tovar-groups_4.jpg"))
								.demo-gallery-poster.clearfix
									.fa.fa-search
							a(href="../../img/plisse1.jpg")
								img(src=require("../../img/plisse1.jpg"))
							a(href="../../img/plisse2.jpg")
								img(src=require("../../img/plisse2.jpg"))
							a(href="../../img/plisse3.jpg")
								img(src=require("../../img/plisse3.jpg"))
							a(href="../../img/plisse4.jpg")
								img(src=require("../../img/plisse4.jpg"))
							a(href="../../img/plisse5.jpg")
								img(src=require("../../img/plisse5.jpg"))
							a(href="../../img/plisse6.jpg")
								img(src=require("../../img/plisse6.jpg"))

						.col-lg-6.tovar-groups__description
							h4 Шторы-плиссе
							//p Несколько лет назад на рынке тканевых ролет появились необычные шторы плиссе. В чем же их необычность? Они не имеют вала, на который накручивается обычная ролета, сделаны из гофрированной ткани и устанавливаются в световой проем окна. Это еще одна система, которая вобрала в себя достоинства жалюзи и ролеты. Следовательно, их часто называют жалюзи плиссе.
							p К достоинствам жалюзи плиссе можно отнести:
							ul
								li 1.	Компактность. В сложенном виде установленная штора займет лишь 5 см светового проема.
								li 2.	Жалюзи плиссе легко поднимаются и опускаются, при том двигаются как снизу вверх, так и сверху вниз. Что невозможно в стандартных рулонных шторах.
								li 3.	Не требуют особого ухода. При сильном загрязнении вы всегда можете ее постирать.
								li 4.	Штора устанавливаются как на окно, так и на проем.
								li 5.	Идеально подходит для установки на мансардные окна. Существует возможность ручного управления и автоматического с помощью дистанционного пульта.
								li 6.	Гофрированные шторы закроют любое нестандартное световое пространство. Арки, трапеции, треугольники и другие сложные пространства, которые часто встречаются в коттеджах/частных домах.
							p Шторы плиссе купить легко именно у нас. Позвоните, запишитесь на бесплатный замер и после консультации приобретайте понравившуюся вам штору.

					.tovar-groups__item.reverse
						.col-lg-6.lightgallery
							a(href="../../img/tovar-groups_1.jpg")
								img(src=require("../../img/tovar-groups_1.jpg"))
								.demo-gallery-poster.clearfix
									.fa.fa-search
							//a(href="../../img/plisse1.jpg")
								img(src=require("../../img/plisse1.jpg"))
						.col-lg-6.tovar-groups__description
							h4 Рулонные шторы
							p Заказать рулонные шторы в Харькове просто и выгодно в нашем магазине, и вот почему:
							ul
								li 1.	Предлагаем весь спектр существующих систем: тканевые ролеты открытого типа, тканевые ролеты закрытого типа (отличаются закрытым валом и алюминиевыми направляющими, в которых двигается ткань), жалюзи день ночь, Roman Stily, 3D Shide, мансардные системы, шторы-плиссе и фальш накладки.
								li 2.	В ассортименте представлены все виды тканей: однотонные в широкой гамме цветом, с рисунком, прозрачные и black-out, гофрированные и ткань-зебра, многослойные нестандартные ткани. Всего более 700 позиций.
								li 3.	Рулонные шторы (Харьков) необходимый элемент современного интерьера. Чтобы выбор был легким и проходил в непринуждённой обстановке мы предлагаем услуги дизайнера с бесплатным выездом к вам домой.
								//li 4.	Тканевые ролеты на окна устанавливают специалисты Айшора с опытом работы 5-10 лет. Мы знаем все нюансы в монтаже данных штор и сможем обучить, если вы планируете устанавливать их самостоятельно.

							p Если вы надумали купить рулонные шторы в Харькове, обращайтесь сразу к нам. Мы работаем напрямую с производителем, гарантируем высокое качество сборки шторы ролеты и установим рулонные жалюзи в течение 3х дней с момента заказа.




		//cекция Хиты продаж
		section#slider_ourWorks2.slider_ourWorks.best-seiling
			.container
				.row
					h2.title Хиты продаж
					span.underline
			.best-seiling__wrap
				.container
					.row
						p.description Собрались покупать шторы, но не знаете какую выбрать? Мы покажем плюсы новых технологий, а классику Вы выбрать всегда успеете!
						.slider-wrap
							#three.owl-carousel.owl-theme.slider_ourWorks_slides
								.tovar-groups__item
									.tovar-groups__photo(data-fancybox data-caption="" href="../../img/slider_slide_1.jpg")
										img(src=require("../../img/slider_slide_1.jpg"))
										span.tovar-groups__photo-name На кухню
										a.tovar-groups__photo_zoom
											i.fa.fa-search
								//img(src=require("../../img/slider_slide_2.jpg"))
								.tovar-groups__item
									.tovar-groups__photo(data-fancybox data-caption="" href="../../img/slider_slide_3.jpg")
										img(src=require("../../img/slider_slide_3.jpg"))
										span.tovar-groups__photo-name В спальню
										a.tovar-groups__photo_zoom
											i.fa.fa-search
								//img(src=require("../../img/slider_slide_4.jpg"))
								.tovar-groups__item
									.tovar-groups__photo(data-fancybox data-caption="" href="../../img/slider_slide_1.jpg")
										img(src=require("../../img/slider_slide_1.jpg"))
										span.tovar-groups__photo-name В офис
										a.tovar-groups__photo_zoom
											i.fa.fa-search
								.tovar-groups__item
									.tovar-groups__photo(data-fancybox data-caption="" href="../../img/slider_slide_2.jpg")
										img(src=require("../../img/slider_slide_2.jpg"))
										span.tovar-groups__photo-name В школу
										a.tovar-groups__photo_zoom
											i.fa.fa-search
								.tovar-groups__item
									.tovar-groups__photo(data-fancybox data-caption="" href="../../img/slider_slide_3.jpg")
										img(src=require("../../img/slider_slide_3.jpg"))
										span.tovar-groups__photo-name В спальню
										a.tovar-groups__photo_zoom
											i.fa.fa-search
								.tovar-groups__item
									.tovar-groups__photo(data-fancybox data-caption="" href="../../img/slider_slide_4.jpg")
										img(src=require("../../img/slider_slide_4.jpg"))
										span.tovar-groups__photo-name В школу
										a.tovar-groups__photo_zoom
											i.fa.fa-search
							.customNextBtn.customBtn
							.customPrevBtn.customBtn
		// Секция как мы работаем
		section#how_we_work.how-we-work
			.container
				.row
					h2.title Как мы работаем?
					span.underline
					p.how-we-work__title Собрались покупать шторы, но не знаете какую выбрать? Мы покажем плюсы новых технологий, а классику выбрать вы всегда успеете!
					.how-we-work__icons.clearfix
						.col-md-2.item-usluga.col-md-offset-1
							.item-usluga__send
							p Вы звоните или оставляете заявку на сайте.
						.points-wrap.points-wrap__send
							span.point
							span.point
							span.point
						.col-md-2.item-usluga
							.item-usluga__consult
							p Мы предварительно консультируем вас, дизайнер iShtora бесплатно выезжает к вам на объект в Харькове.
						.points-wrap.points-wrap__consult
							span.point
							span.point
							span.point
						.col-md-2.item-usluga
							.item-usluga__settings
							p Ровно через 3 дня наш специалист по установке роллет приезжает и устанавливает выбранную штору.
						.points-wrap.points-wrap__settings
							span.point
							span.point
							span.point
						.col-md-2.item-usluga
							.item-usluga__gift
							p Вы наслаждаетесь обновленным интерьером и восторженными отзывами соседей и друзей.
						.points-wrap.points-wrap__gift
							span.point
							span.point
							span.point
						.col-md-2.item-usluga
							.item-usluga__like
							p Мы гордимся вашим отзывом на одной из страниц магазина iShtora в социальных сетях.

		//section.intermediate
		//Секция купить рулонную штору,
		section.forma-callBack
			.container
				.row
					h3.forma-callBack__title Хочу купить рулонную штору,<br> когда Ваш дизайнер приедет к нам домой?
					p.forma-callBack__description Оправьте заявку, наш менеджер свяжется с вами в течение 30 мин и договориться о времени приезда дизайнера.
					.intermediate
						.intermediate_wrap
							form
								.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
									.modal_form_input_wrap
										.modal_input_error
											| Заполните поле
											.modal_error_triangle
											.modal_error_chest_img
										i.fa.fa-check
										input.modal_form_input(name='name', type='text', placeholder='Имя')
								.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
									.modal_form_input_wrap
										.modal_input_error
											| Заполните поле
											.modal_error_triangle
											.modal_error_chest_img
										i.fa.fa-check
										input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
								.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
									.modal_form_input_wrap
										input(type='hidden', name='form_name', value='Заявка на выезд дизайнера')
										input(type='hidden', name='form_type', value='normal')
										input(type='submit', value='Купить рулонную штору')

		//Секция отзывы
		section#reviews.reviews
			.container
				.row
					h2.title Отзывы наших клиентов
					span.underline
					p.description Собрались покупать шторы, но не знаете какую выбрать? Мы покажем плюсы новых технологий, а классику Вы выбрать всегда успеете!
					.slider-wrap
						#two.owl-carousel.owl-theme
							.item-video(data-merge="1")
								//h4.item-video-title Александр Николаевич
								a.owl-video(href="https://www.youtube.com/watch?v=93K_Y3WpsLA&feature=youtu.be")
							.item-video(data-merge="1")
								//h4 Александр Николаевич
								a.owl-video(href="https://www.youtube.com/watch?v=S4h25x8Z-9M")
							.item-video(data-merge="2")
								a.owl-video(href="https://www.youtube.com/watch?v=_U0b2W7AlsQ")
							.item-video(data-merge="3")
								a.owl-video(href="https://www.youtube.com/watch?v=t4rfLxRAw6w")
							.item-video(data-merge="4")
								a.owl-video(href="https://www.youtube.com/watch?v=J6AJAs86rKw")
						.customNextBtn.customBtn
						.customPrevBtn.customBtn
		//Секция Часто задаваемые вопросы
		section#often_question.often-question
			.container
				.row
					h2.title Часто задаваемые вопросы
					span.underline
					.col-lg-12
						#accordion.accordion
							h3.often-question__title Как ухаживать за рулонными шторами? Нужно ли их стирать и чистить?
							div.often-question__content
								p.often-question__description Все просто. Нет надобности стирать или как-то особо ухаживать за ролл шторами, так как все ткани имеют специальную обработку (пропитку), которая не позволяет им пачкаться, мяться, электризоваться. В следствие чего пыль не притягивается, ее легко смахнуть, а легкое загрязнение уйдет с помощью мыльной пены и обычной губки.

							h3.often-question__title Выгорает ли ткань шторы со временем?
							div.often-question__content
								p.often-question__description Из практики с гордостью говорим, что ткани в рулонных жалюзи, которые провисели на окнах 8-10 лет, не потеряли своего цвета. Причина та же, специальная обработка тканей.

							h3.often-question__title Какую вы даете гарантию на установленное изделие?
							div.often-question__content
								p.often-question__description Гарантию на изделия дает завод производитель и равна она 1 году.

							h3.often-question__title Когда будет установлена моя штора, если замер вы сделали сегодня?
							div.often-question__content
								p.often-question__description Срок производства рольшторы в магазине Айштора  3 дня, он учитывает день замера и день установки. Это очень быстро!

							h3.often-question__title Кукую предоплату нужно сделать для запуска шторы в производство?
							div.often-question__content
								p.often-question__description Купить тканевые ролеты в магазине Айштора можно с 50% предоплатой. Остаток вы отдадите нашему специалисту по монтажу в момент установки шторы.

							h3.often-question__title Почему штора из супермаркета стоит дешевле?
							div.often-question__content
								p.often-question__description Ценообразование конкурентов мы не обсуждаем.)) Однако все мы с детства знаем, что чем дешевле, тем хуже качество. С полной уверенностью мы можем говорить  только о себе. Мы гарантируем европейское происхождение тканей, специальную их обработку, новейшее оборудование для порезки и сборки штор, и отвечаем за руки наших специалистов по замерам и монтажу.

							h3.often-question__title Я хочу рулонную штору купить у вас, но живу не Харькове?
							div.often-question__content
								p.often-question__description Есть 3 варианта решения:
								ul.often-question__description_table
									li 1.	Вы оплачиваете стоимость бензина/газа от Харькова до места проживания.
									li 2.	Вы забираете нашего дизайнера-замерщика из Харькова, отвозите на место замера, привозите обратно.
									li 3.	Мы поможем вам сделать замер самостоятельно и отправим любым перевозчиком до указанного склада или курьером по адресу. Позвоните нам по телефону +38 099 20 80 655 и мы попробуем решить эту задачу вместе.
		//Секция Как с нами связаться?
		section#howContact.how-contact
			.container
				.row
					.how-contact_metods
						.col-lg-12
							h2.title Как с нами связаться?
							span.underline
						.col-sm-6.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1.how-contact_metods-wrap
							.how-contact_ic-send
							.how-contact_wrap
								h3.how-contact_metod Напишите на почту:
								a(href="mailto:iShtoraUA@shtora.ua").how-contact_adress iShtoraUA@shtora.ua
						.col-sm-6.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1.how-contact_metods-wrap
							.how-contact_ic-phone
							.how-contact_wrap
								h3.how-contact_metod Позвоните по телефону:
								a(href="tel:380992080655").how-contact_adress +38 099 20 80 655

		// Секция бесплатный замер
		section.forma-callBack
			.container
				.row
					h3.forma-callBack__title Записаться на бесплатный замер
					p.forma-callBack__description Отправьте заявку и наш менеджер свяжется с Вами в течении 10 минут и договорится о времени приезда дизайнера.
					.intermediate
						.intermediate_wrap
							form
								.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
									.modal_form_input_wrap
										.modal_input_error
											| Заполните поле
											.modal_error_triangle
											.modal_error_chest_img
										i.fa.fa-check
										input.modal_form_input(name='name', type='text', placeholder='Имя')
								.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
									.modal_form_input_wrap
										.modal_input_error
											| Заполните поле
											.modal_error_triangle
											.modal_error_chest_img
										i.fa.fa-check
										input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
								.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
									.modal_form_input_wrap
										input(type='hidden', name='form_name', value='Записаться на бесплатный замер')
										input(type='hidden', name='form_type', value='normal')
										input.col-lg-3(type='submit', value='Бесплатный замер')






		// Секция footer
		footer.footer
			.container
				.row
					.col-xs-12
						.copyright
							i.fa.fa-copyright
							span Copyright 2017
						.social_networks.pull-right
							a(href="https://vk.com/i_shtora" target="_blank").copyright
								.social_networks-ic
									i.fa.fa-vk
							a(href="https://www.facebook.com/ishtora/" target="_blank").copyright
								.social_networks-ic
									i.fa.fa-facebook
	div(off-canvas='id-1 left shift')
		nav.header_nav_mobile
			ul.menu
				li
					a(href='#slider_ourWorks') Наши работы
				li
					a(href='#tovarGroups') Товары
				li
					a(href='#how_we_work') Как мы работаем
				li
					a(href='#reviews') Отзывы
				li
					a(href='#howContact') Контакты
				li
					a(href='tel:380992080655') +38 099 20 80 655
	div(off-canvas='id-2 right push')
	div(off-canvas='id-3 top overlay')
	div(off-canvas='id-4 bottom shift')



