extends ../base
block title
	| Index page
block main
	body.index
		div
			.loader
				.loader_inner
					include ../../img/preloader.svg
		include ../modal
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line
		.header_nav-wrap
			.container
				.row
					nav.header_nav.col-lg-12
						ul.clearfix
							//-var links = [{title:'прос. Московский 195', href:'#'},{title:'Пн-Пт: 9:00-20:00', href:'#'},{title:'096 222 22 22', href:'#'},{title:'093 111 11 11', href:'tel:0931111111'}];
							//each i in links
							//	li
							//		a(href=i.href)= i.title
							li.col-lg-2
								i.fa.fa-map-marker
								a(href="#") прос. Московский 195
							li.col-lg-2
								i.fa.fa-clock-o
								a(href="#") Пн-Пт: 9:00-20:00
							li.col-lg-2.col-lg-offset-4
								i.fa.fa-phone
								a(href="0962222222") 096 222 22 22
							li.col-lg-2
								i.fa.fa-phone
								a(href="0931111111") 093 111 11 11

					nav.header_nav-main-menu.col-lg-12
						ul.clearfix
							li
								a(href="#aboutUs") О нас
							li.header_nav-main-menu_item
								a(href="#technoligy") Технологии
							li
								a(href="header_logo").logo
							li
								a(href="#pricePools") Наши тарифы
							li.header_nav-main-menu_item
								a(href="#StagesOfWork") Этапы работы

		div(canvas='container')
			header(class="header")
				.container
					.row
						.header_title
							.slider-wrap
								#one.owl-carousel.owl-theme
									.item
										h1
											span Строительство и обслуживание бассейнов на
											|  территории востока и юга Украины
										p Бесплатная консультация и выезд на объект

									.item
										h1
											span Строительство и обслуживание бассейнов на
											|  территории востока и юга Украины
										p Бесплатная консультация и выезд на объект
								.customNextBtn.customBtn
								.customPrevBtn.customBtn

							.header_modal
								a(data-modal="modal-1" data-info="Обратный звонок" href="#" class="modal active") Заказать обратный звонок
						//.header_bot_txt
						//	p Более
						//		span  400
						//		|   довольных клиентов за
						//		span  8 лет
						//		|  успешной работы!
			//секиця главнй контент
			section.main_content
				//Секция о нас
				section#aboutUs.aboutUs
					.container
						.row
							.clo-lg-12.aboutUs__title
								span.aboutUs__uzor
								.aboutUs__default-wrap
									h2.section__default-caption Немного о нас
									p.aboutUs__description Компания ASTPOOL выполняет широкий спектр услуг:
							.col-lg-12.aboutUs__slider-wrap
									.aboutUs__usluga-bg.box-shadow
									#two.owl-carousel.owl-theme.aboutUs__slider
										.item
											.aboutUs__info
												h3.aboutUs__usluga-name Реконструкция
												p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
											.aboutUs__slide-img
												img(src=require("../../img/slider2_1-1.jpg"))
												img.box-shadow(src=require("../../img/slider2_1-2.jpg"))
										.item
											.aboutUs__info
												h3.aboutUs__usluga-name Реконструкция
												p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
											.aboutUs__slide-img
												img(src=require("../../img/slider2_1-1.jpg"))
												img.box-shadow(src=require("../../img/slider2_1-2.jpg"))



				//Секция видео
				section#video.video
					//video.video__film(url="video/mov_bbb.mp4")
					a.video__play-btn
					//button.player__button
				//Секция техноологии
				section#technoligy.technoligy
					.container
						.row
							.col-lg-12.technoligy__main
								span.technoligy__uzor-before
								h2.technoligy__caption.section__default-caption Технологии
								span.technoligy__uzor-after
						//начало слайдера
						.technoligy__slider-wrap
							#three.owl-carousel.owl-theme
								.item.clearfix
									.col-lg-offset-1.col-lg-6.text-left.technoligy__slider
										img(src=require("../../img/section__technologi_slider-slide.jpg"))
									.col-lg-offset-1.col-lg-3.technoligy__description
										h3.technoligy__description-caption Бассейн Инфинити
										p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
								.item.clearfix
									.col-lg-offset-1.col-lg-6.text-left.technoligy__slider
										img(src=require("../../img/section__technologi_slider-slide.jpg"))
									.col-lg-offset-1.col-lg-3.technoligy__description
										h3.technoligy__description-caption Бассейн Инфинити
										p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
								.item.clearfix
									.col-lg-offset-1.col-lg-6.text-left.technoligy__slider
										img(src=require("../../img/section__technologi_slider-slide.jpg"))
									.col-lg-offset-1.col-lg-3.technoligy__description
										h3.technoligy__description-caption Бассейн Инфинити
										p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
							.customNextBtn.customBtn
								i.fa.fa-angle-right
							.customPrevBtn.customBtn
								i.fa.fa-angle-left

						.row
							.col-lg-12.technoligy__connecting-wrap
								span.technoligy__connecting-lines
								span.technoligy__connecting-lines_right
				//Секиця Скидки, форма
				section#discounts.discounts
				//Cекиця наши работы, слайдер
				section#ourWorks.ourWorks
				//Cекиця цены на басейны
				section#pricePools.pricePools
				//Cекиця скидки на монтаж, форма
				section#discountsInstallation.discountsInstallation
				//Секиция Этапы работы
				section#StagesOfWork.StagesOfWork
				//Секиця отзывы, слайдер
				section#reviews.reviews
				//Секиця скидки на монтаж терассной доски при заказе через сайт, фрма
				section#discountsInstallation-TerraceBoard.discountsInstallation-TerraceBoard
			// Секция  our_advantages
			//section#our_advantages.our_advantages
				.container
					.row
						h2 Наши преимущества
						.clearfix
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-users
								h3 Заголовок
								p Индивидуальный подход к каждому клиенту
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-diamond
								h3 Заголовок
								p Неповторимость и практичность каждого проекта мебели
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-list-ol
								h3 Заголовок
								p Многообразие материалов и стилевых решений
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-pencil
								h3 Заголовок
								p Для вас бесплатно: замер, дизайн-проект, доставка и монтаж
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-credit-card-alt
								h3 Заголовок
								p Возможность оформления мебели в кредит
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-wrench
								h3 Заголовок
								p Изготовление мебели только из высококачественных материалов
			// Тест react
			section.react
				.container
					.row
						#app
			// Секция main_content
			//section.main_content
				.container
					.row
						div Пример checkbox
						label.check.noselect
							input(type='checkbox')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span первый чек
						label.check.noselect
							input(type='checkbox')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span второй чек
						div Пример radio button
						label.radio.noselect
							input(type='radio', name='radio')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span первый чек
						label.radio.noselect
							input(type='radio', name='radio', checked='')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span второй чек
			// Секция  ask-form-title
			//section.intermediate
				.container
					.intermediate_title
						h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
					.intermediate_wrap
						form
							.intermediate_item.col-lg-3.col-md-4.col-sm-4
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_input(name='name', type='text', placeholder='Имя')
							.intermediate_item.col-lg-3.col-md-4.col-sm-4
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_email(name='email', type='text', placeholder='Почта')
							.intermediate_item.col-lg-3.col-md-4.col-sm-4
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
							input(type='hidden', name='form_name', value='')
							input(type='hidden', name='form_type', value='normal')
							input.col-lg-3(type='submit', value='Записаться')































			// Секция footer
			//footer.footer
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'7 38 425 961 68', href:'tel:73842596168'},{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'Примеры', href:'#'}];
					each i in obj1
						li
							a(href=i.href)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>


