extends ../base
block title
	| Index page
block main
	body.index
		div
			.loader
				.loader_inner
					include ../../img/preloader.svg
		include ../modal
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line
		#header_nav-wrap.header_nav-wrap
			.container
				.row
					nav.header_nav.clearfix
						.col-sm-4
							ul.adress
								li
									i.fa.fa-map-marker
									a(href="#") прос. Московский 195
								li
									i.fa.fa-clock-o
									a(href="#") Пн-Пт: 9:00-20:00
						.col-sm-4
							ul.center.social-networks
								li
									a.fa.fa-linkedin(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-google-plus(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-instagram(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-facebook(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-vk(href="#" target="_blank" aria-hidden="true")
						.col-sm-4
							ul.right.phones
								li
									i.fa.fa-phone
									a(href="tel:0962222222") 096 222 22 22
								li
									i.fa.fa-phone
									a(href="tel:0931111111") 093 111 11 11
		.header_mainMenu
			.container
				.row
					nav.header_nav-main-menu.clearfix
						ul.col-md-4.center
							li
								a(href="#aboutUs") О нас
							li.header_nav-main-menu_item
								a(href="#technoligy") Технологии
						div.col-md-4.center
							//a.logo.center(href="header_logo")
							a.logo(href="#header_nav-wrap")
								img(src=require("../../img/logo.png"))
						ul.col-md-4.left
							li
								a(href="#pricePools") Наши тарифы
							li.header_nav-main-menu_item
								a(href="#stagesOfWork") Этапы работы

		div(canvas='container')
			header(class="header")
				.container
					.row
						.header_title.col-lg-12
							.slider-wrap
								#one.owl-carousel.owl-theme
									.item
										h1
											span Строительство и обслуживание бассейнов на
											|  территории востока и юга Украины
										p Бесплатная консультация и выезд на объект
									.item
										h1
											span Строительство и обслуживание бассейнов на
											|  территории востока и юга Украины
										p Бесплатная консультация и выезд на объект
								.customPrevBtn.customBtn
									i.fa.fa-angle-left
								.customNextBtn.customBtn
									i.fa.fa-angle-right

							.header_modal(data-modal="modal-1" data-info="Обратный звонок" href="#" class="modal active")
								a Заказать обратный звонок
						//.header_bot_txt
						//	p Более
						//		span  400
						//		|   довольных клиентов за
						//		span  8 лет
						//		|  успешной работы!
			//секиця главнй контент
			section.main_content
				//Секция о нас
				section#aboutUs.aboutUs
					.container
						.row
							.clo-sm-12.aboutUs__title
								span.aboutUs__uzor
								.aboutUs__default-wrap
									h2.section__default-caption Немного о нас
									p.aboutUs__description Компания ASTPOOL выполняет широкий спектр услуг:
							.aboutUs__slider-wrap
								.aboutUs__usluga-bg.box-shadow
								.row

										#two.owl-carousel.owl-theme.aboutUs__slider.col-sm-12
											.item
												.aboutUs__info
													h3.aboutUs__usluga-name Реконструкция
													p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												.aboutUs__slide-img
													img(src=require("../../img/slider2_1-1.jpg"))
													img.box-shadow(src=require("../../img/slider2_1-2.jpg"))
											.item
												.aboutUs__info
													h3.aboutUs__usluga-name Реконструкция
													p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												.aboutUs__slide-img
													img(src=require("../../img/slider2_1-1.jpg"))
													img.box-shadow(src=require("../../img/slider2_1-2.jpg"))
								.customNextBtn.customBtn
									i.fa.fa-angle-right
								.customPrevBtn.customBtn
									i.fa.fa-angle-left
				//Секция видео
				section#video.video
					section#player-video.player-video
						#player
						script.
							var tag = document.createElement('script');

							tag.src = "https://www.youtube.com/iframe_api";
							var firstScriptTag = document.getElementsByTagName('script')[0];
							firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

							var player;

							function onYouTubeIframeAPIReady() {
								player = new YT.Player('player', {
									height: '360',
									width: '640',
									videoId: '-aoKriMsjEs',
									events: {
										'onStateChange': onPlayerStateChange
									}
								});
							}
							var done = false;
							function onPlayerStateChange(event) {
								if (event.data == YT.PlayerState.PLAYING && !done) {
								}
								if (event.data == YT.PlayerState.PLAYING) {
								}
								if (event.data == YT.PlayerState.PAUSED) {
								}
							}


							function onPlayerReady(event) {
								event.target.stopVideo();
							}
							function stopVideo() {
								player.stopVideo();
							}
					//video.video__film(url="video/mov_bbb.mp4")
					//a.video__play-btn
					//button.player__button
				//Секция техноологии, слайдер
				section#technoligy.technoligy
					.container
						.row
							.technoligy__main
								span.technoligy__uzor-before
								h2.technoligy__caption.section__default-caption Технологии
								span.connecting__uzor-after
						//начало слайдера
						.technoligy__slider-wrap
							#three.owl-carousel.owl-theme
								.item.clearfix
									.col-md-offset-1.col-md-6.col-sm-8.col-xs-12.technoligy__slider
										img(src=require("../../img/section__technologi_slider-slide.jpg"))
									.col-md-offset-1.col-md-3.col-sm-4.col-xs-12.technoligy__description
										h3.technoligy__description-caption Бассейн Инфинити
										p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
								.item.clearfix
									.col-md-offset-1.col-md-6.col-sm-8.col-xs-12.technoligy__slider
										img(src=require("../../img/section__technologi_slider-slide.jpg"))
									.col-md-offset-1.col-md-3.col-sm-4.col-xs-12.technoligy__description
										h3.technoligy__description-caption Бассейн Инфинити
										p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
								.item.clearfix
									.col-md-offset-1.col-md-6.col-sm-8.col-xs-12.technoligy__slider
										img(src=require("../../img/section__technologi_slider-slide.jpg"))
									.col-md-offset-1.col-md-3.col-sm-4.col-xs-12.technoligy__description
										h3.technoligy__description-caption Бассейн Инфинити
										p.aboutUs__usluga-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
							.customNextBtn.customBtn
								i.fa.fa-angle-right
							.customPrevBtn.customBtn
								i.fa.fa-angle-left

						.row
							.col-lg-12.connecting__wrap
								span.connecting__connecting-lines
								span.connecting__connecting-lines_right
				//Секиця Скидки, форма
				section#discounts.discounts.intermediate
					.container
						.row
							.intermediate_title
								h3 Скидки на монтаж терассной доски при заказе через сайт
								p Мы свяжемся с Вами для консультации и уточнения деталей
							.intermediate_wrap
								form
									.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_input(name='name', type='text', placeholder='Имя')
									.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
									.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
										.modal_form_input_wrap
											input(type='hidden', name='form_name', value='форма №2 уточнить название')
											input(type='hidden', name='form_type', value='normal')
											input.col-lg-4(type='submit', value='Отправить')
				//Cекиця наши работы, слайдер
				section#ourWorks.ourWorks
					.ourWorks__wraper
						h3.defaul-title.col-lg-12 Наши работы
						#ourWorks__slider.owl-carousel.owl-theme
							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide1.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide2.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit

							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide3.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit

							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide3.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide3.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit


							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide3.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit


							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide3.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.item.ourWorks__slider_slide.box-shadow
								img(src=require("../../img/ourWork__slider-slide3.jpg"))
								p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit


						.customNextBtn.customBtn
							i.fa.fa-angle-right
						.customPrevBtn.customBtn
							i.fa.fa-angle-left
				//Cекиця цены на басейны
				section#pricePools.pricePools
					.container
						.row
							h3.pricePools__caption Цены на бассейны под ключ
							.col-md-4.col-sm-4.col-xs-12
								.pricePools__type-pool
									h4.pricePools__name Семейный
									span.pricePools__price 1500 ₴
									p.pricePools__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
									button.pricePools__btn(data-modal="modal-2" data-info="Басейн cемейный" href="#" class="modal active") Купить

							.col-md-4.col-sm-4.col-xs-12
								.pricePools__type-pool
									h4.pricePools__name Оптимальный
									span.pricePools__price 3000 ₴
									p.pricePools__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
									button.pricePools__btn(data-modal="modal-2" data-info="Басейн оптимальный" href="#" class="modal active") Купить
							.col-md-4.col-sm-4.col-xs-12
								.pricePools__type-pool
									h4.pricePools__name Бизнес
									span.pricePools__price 8000 ₴
									p.pricePools__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
									button.pricePools__btn(data-modal="modal-2" data-info="Басейн бизнес" href="#" class="modal active") Купить
						.row
							.col-lg-12.connecting__wrap
								span.connecting__connecting-lines
								span.connecting__connecting-lines_right
				//Cекиця скидки на монтаж, форма
				section#discountsInstallation.discounts.intermediate.discounts__second-form
					.container
						.row
							.intermediate_title.clo-lg-10.col-lg-offset-1
								h3 Скидки на монтаж терассной доски при заказе через сайт
								p Мы свяжемся с Вами для консультации и уточнения деталей
							.intermediate_wrap
								form
									.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_input(name='name', type='text', placeholder='Имя')
									.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
									.intermediate_item.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
										.modal_form_input_wrap
											input(type='hidden', name='form_name', value='форма №3 уточнить название')
											input(type='hidden', name='form_type', value='normal')
											input(type='submit', value='Записаться')
				//Секиция Этапы работы
				section#stagesOfWork.stageOfWork
					.container
						.row
							.stageOfWork__caption
								h3.section__default-caption Этапы работы
								span.connecting__uzor-after

							.stageOfWork__stages-bg
								.stageOfWork__stages-logo
								ul.stageOfWork__stages.col-lg-5.col-sm-6.col-xs-12.stageOfWork__items-left
									li.vertical-align
										p.text-right Сдача объекта. Подписание акта выполненых работ
										.stage4.vertical-align
											a
									li.vertical-align
										p.text-right Заключение договора, внесение предоплаты. Начало строительства бассейна
										.stage3.vertical-align
											a
								ul.stageOfWork__stages.col-lg-5.col-lg-offset-2.col-sm-6.col-xs-12.stageOfWork__items-right
									li.vertical-align
										.stage1.vertical-align
											a
										p.text-left Заявка с сайта или звонок по указанному номеру
									li.vertical-align
										.stage2.vertical-align
											a
										p.text-left Просчет сметы строительства. Прорисовка бассейна и детальное утверждения проекта
							.col-lg-12.clearfix.connecting__wrap
								span.connecting__connecting-lines
								span.connecting__connecting-lines_right
				//Cекция наша команда
				section#ourTeam.ourTeam
					.container
						.row
							h3.section__default-caption Наша команда
							.col-sm-4.col-xs-12.ourTeam__photo-cart
								.ourTeam__wrap.box-shadow
									img.ourTeam__photo(src=require("../../img/annaBelik.jpg"))
									h4.ourTeam__name Анна Белик
									p.ourTeam__position Менеджер
									ul.ourTeam__pageInsocialNetwork.social-networks
										li
											a.fa.fa-linkedin(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-google-plus(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-instagram(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-facebook(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-vk(href="#" target="_blank" aria-hidden="true")
							.col-sm-4.col-xs-12.ourTeam__photo-cart
								.ourTeam__wrap.box-shadow
									img.ourTeam__photo(src=require("../../img/ulaKoruma.jpg"))
									h4.ourTeam__name Юлия Корума
									p.ourTeam__position Менеджер
									ul.ourTeam__pageInsocialNetwork.social-networks
										li
											a.fa.fa-linkedin(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-google-plus(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-instagram(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-facebook(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-vk(href="#" target="_blank" aria-hidden="true")
							.col-sm-4.col-xs-12.ourTeam__photo-cart
								.ourTeam__wrap.box-shadow
									img.ourTeam__photo(src=require("../../img/olegIvanow.jpg"))
									h4.ourTeam__name Олег Иванов
									p.ourTeam__position Директор
									ul.ourTeam__pageInsocialNetwork.social-networks
										li
											a.fa.fa-linkedin(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-google-plus(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-instagram(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-facebook(href="#" target="_blank" aria-hidden="true")
										li
											a.fa.fa-vk(href="#" target="_blank" aria-hidden="true")

				//Секиця отзывы, слайдер
				section#reviews.reviews
					.container
						h3.section__default-caption Отзывы
						.row
							.reviews__main-content#reviews__slider.owl-carousel.owl-theme
								.item.clearfix
									.reviews__autor
										.reviews__wrap.box-shadow
											img.reviews__autor_photo(src=require("../../img/igorBorisow.png"))
											h5.reviews__autor_name Игорь Борисов
											p.reviews__position Предприниматель
									.col-sm-offset-2.col-sm-10
										p.reviews__text «Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.»
								.item.clearfix
									.reviews__autor
										.reviews__wrap.box-shadow
											img.reviews__autor_photo(src=require("../../img/igorBorisow.png"))
											h5.reviews__autor_name Игорь Борисов
											p.reviews__position Предприниматель
									.col-sm-offset-2.col-sm-10
										p.reviews__text «Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.»
								.item.clearfix
									.reviews__autor
										.reviews__wrap.box-shadow
											img.reviews__autor_photo(src=require("../../img/igorBorisow.png"))
											h5.reviews__autor_name Игорь Борисов
											p.reviews__position Предприниматель
									.col-sm-offset-2.col-sm-10
										p.reviews__text «Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.»
						.customNextBtn.customBtn
							i.fa.fa-angle-right
						.customPrevBtn.customBtn
							i.fa.fa-angle-left
				//Сектця новости
				section#news.news
					.news__title
						h3.section__default-caption Новости
						span.connecting__uzor-after
					#news__slider.owl-carousel.owl-theme
						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide1.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide2.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit

						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide3.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit

						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide3.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide3.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit


						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide3.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit


						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide3.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
						.item.ourWorks__slider_slide.box-shadow
							img(src=require("../../img/ourWork__slider-slide3.jpg"))
							p.ourWorks__slider-description Lorem ipsum dolor sit amet, consectetur adipisicing elit
					.customNextBtn.customBtn
						i.fa.fa-angle-right
					.customPrevBtn.customBtn
						i.fa.fa-angle-left
					.container
						.row
							.col-md-12.connecting__wrap
								span.connecting__connecting-lines
								span.connecting__connecting-lines_right


				//Секция скидки при заказе через сайт
				section#discountsInstallation2.discounts.intermediate.discounts__third-form
					.container
						.row
							.intermediate_title.clo-lg-10.col-lg-offset-1
								h3 Скидки на монтаж терассной доски при заказе через сайт
								p Мы свяжемся с Вами для консультации и уточнения деталей
							.intermediate_wrap
								form
									.intermediate_item.col-lg-4.col-md-4.col-sm-4
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_input(name='name', type='text', placeholder='Имя')
									.intermediate_item.col-lg-4.col-md-4.col-sm-4
										.modal_form_input_wrap
											.modal_input_error
												| Заполните поле
												.modal_error_triangle
												.modal_error_chest_img
											i.fa.fa-check
											input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
									.intermediate_item.col-lg-4.col-md-4.col-sm-4
										.modal_form_input_wrap
											input(type='hidden', name='form_name', value='форма № 4 уточнить')
											input(type='hidden', name='form_type', value='normal')
											input(type='submit', value='Записаться')

				//Секция Мы готовы предложить
				section#weReadyOffer.weReadyOffer
					.container
						.row
							h3.section__default-caption Мы готовы предложить
							.col-sm-4
								.weReadyOffer__service.box-shadow
									img.weReadyOffer__service_picture(src=require("../../img/weReadyOfer__service_1.jpg"))
									p.weReadyOffer__service_description Строительство саун
							.col-sm-4
								.weReadyOffer__service.box-shadow
									img.weReadyOffer__service_picture(src=require("../../img/weReadyOfer__service_2.jpg"))
									p.weReadyOffer__service_description Строительство хаммама
							.col-sm-4
								.weReadyOffer__service.box-shadow
									img.weReadyOffer__service_picture(src=require("../../img/weReadyOfer__service_3.jpg"))
									p.weReadyOffer__service_description Построим пруд
							.col-sm-4
								.weReadyOffer__service.box-shadow
									img.weReadyOffer__service_picture(src=require("../../img/weReadyOfer__service_4.jpg"))
									p.weReadyOffer__service_description Создадим террасу
							.col-sm-4
								.weReadyOffer__service.box-shadow
									img.weReadyOffer__service_picture(src=require("../../img/weReadyOfer__service_5.jpg"))
									p.weReadyOffer__service_description Посетите наш блог
							.col-sm-4
								.weReadyOffer__service.box-shadow
									img.weReadyOffer__service_picture(src=require("../../img/weReadyOfer__service_6.jpg"))
									p.weReadyOffer__service_description Наш интернет-магазин
			.footer
				.container
					.row
						.col-lg-6.footer__map.col-sm-6.col-xs-12
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2036.0536712027183!2d36.232229212677765!3d49.987599444282395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1499009966645" width="570" height="314" frameborder="0" style="border:0" allowfullscreen></iframe>
						.col-lg-2.col-lg-offset-1.col-sm-3.col-xs-6
							ul.footer__service
								li
									a(href="#aboutUs") О нас
								li
									a(href="#technoligy") Технологии
								li
									a(href="#pricePools") Наши тарифы
								li
									a(href="#stagesOfWork") Этапы работы

							ul.footer__pageInsocialNetwork.social-networks
								li
									a.fa.fa-linkedin(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-google-plus(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-instagram(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-facebook(href="#" target="_blank" aria-hidden="true")
								li
									a.fa.fa-vk(href="#" target="_blank" aria-hidden="true")

						.col-lg-3.col-sm-3.col-xs-6
							ul.footer__contacts
								li
									i.fa.fa-map-marker
									a(href="#") прос. Московский 195
								li
									i.fa.fa-clock-o
									a(href="#") Пн-Пт: 9:00-20:00
								li
									i.fa.fa-envelope
									a(href="mailtoemailadres@gmail.com") emailadres@gmail.com
								li
									i.fa.fa-phone
									a(href="tel:0962222222") 096 222 22 22
								li
									i.fa.fa-phone
									a(href="tel:0931111111") 093 111 11 11

							.footer__logo.vertical-align
								p Разработка </br> лендинга
								a(href="http://melfori.com/")

			//	section#discountsInstallation-TerraceBoard.discountsInstallation-TerraceBoard
			// Секция  our_advantages
			//section#our_advantages.our_a	dvantages
				.container
					.row
						h2 Наши преимущества
						.clearfix
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-users
								h3 Заголовок
								p Индивидуальный подход к каждому клиенту
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-diamond
								h3 Заголовок
								p Неповторимость и практичность каждого проекта мебели
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-list-ol
								h3 Заголовок
								p Многообразие материалов и стилевых решений
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-pencil
								h3 Заголовок
								p Для вас бесплатно: замер, дизайн-проект, доставка и монтаж
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-credit-card-alt
								h3 Заголовок
								p Возможность оформления мебели в кредит
							.our_advantages_item.col-lg-4.col-md-6
								.our_advantages_item_img
									i.fa.fa-wrench
								h3 Заголовок
								p Изготовление мебели только из высококачественных материалов
			// Тест react
			section.react
				.container
					.row
						#app
			// Секция main_content
			//section.main_content
				.container
					.row
						div Пример checkbox
						label.check.noselect
							input(type='checkbox')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span первый чек
						label.check.noselect
							input(type='checkbox')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span второй чек
						div Пример radio button
						label.radio.noselect
							input(type='radio', name='radio')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span первый чек
						label.radio.noselect
							input(type='radio', name='radio', checked='')
							i.fa.fa-1.fa-square-o
							i.fa.fa-2.fa-check-square-o
							span второй чек
			// Секция  ask-form-title
			//section.intermediate
				.container
					.intermediate_title
						h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
					.intermediate_wrap
						form
							.intermediate_item.col-lg-3.col-md-4.col-sm-4
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_input(name='name', type='text', placeholder='Имя')
							.intermediate_item.col-lg-3.col-md-4.col-sm-4
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_email(name='email', type='text', placeholder='Почта')
							.intermediate_item.col-lg-3.col-md-4.col-sm-4
								.modal_form_input_wrap
									.modal_input_error
										| Заполните поле
										.modal_error_triangle
										.modal_error_chest_img
									i.fa.fa-check
									input.modal_form_phone(name='phone', type='text', placeholder='Телефон')
							input(type='hidden', name='form_name', value='')
							input(type='hidden', name='form_type', value='normal')
							input.col-lg-3(type='submit', value='Записаться')
			// Секция footer
			//footer.footer
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'7 38 425 961 68', href:'tel:73842596168'},{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'Примеры', href:'#'}];
					each i in obj1
						li
							a(href=i.href)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>